@use "../../../../../styles/theme";

#page.projects-desktop-version-page {
  .preview {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    row-gap: 8px;
    width: 500px;

    .preview-image {
      width: 500px;
      aspect-ratio: 1/1;
      object-fit: cover;
    }

    .description {
      font-size: 12px;
    }

    .read-on-button {
      background-color: theme.$accent;
      color: theme.$primary-white;
      padding: 4px 48px;
      font-size: 14px;
      border-radius: 4px;
      text-decoration: none;
      font-weight: 500;
    }
  }
}
