@use "../../../styles/theme";

#navbar {
  .option {
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    svg {
      font-size: 26px;
      color: theme.$navbar-dark-icon;
    }
    &:last-of-type {
      margin-top: auto;
      border-top: solid 1px theme.$navbar-dark-icon;
    }
  }
}
