.reader-text-section {
  .content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    h2 {
      font-size: 2.5rem;
      margin: 0 0 16px;
    }
    article {
      font-size: 0.9rem;
      letter-spacing: 1px;
    }
  }
}

@media (max-width: 1000px) {
  .reader-text-section {
    .content {
      h2 {
        font-size: 2rem;
        margin: 0 0 16px;
      }
      article {
        font-size: 0.9rem;
        letter-spacing: 1px;
      }
    }
  }
}

@media (max-width: 600px) {
  .reader-text-section {
    .content {
      h2 {
        font-size: 1.7rem;
        margin: 0 0 16px;
      }
      article {
        font-size: 0.8rem;
        letter-spacing: 1px;
      }
    }
  }
}
