#page.reader-page {
  #reading-panel {
    #reader-section-frame {
      position: relative;
      width: 60%;
      max-width: 60vh;
      max-height: 60vh;
      aspect-ratio: 1/1;
      #inner-reader-section-frame {
        overflow: hidden;
        position: relative;
        max-width: 60vh;
        max-height: 60vh;
        aspect-ratio: 1/1;
      }
    }
  }
}

@media (max-aspect-ratio: 1.4/1) {
  #page.reader-page {
    #reading-panel {
      #reader-section-frame {
        aspect-ratio: auto;
        height: 70vh;
        max-height: 70vh;
        #inner-reader-section-frame {
          aspect-ratio: auto;
          height: 70vh;
          max-height: 70vh;
        }
      }
    }
  }
}
