#page.reader-page {
  #reading-panel {
    #with-reader-nav-controls {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}