@use "../../../styles/theme";

#about-me-other-interests {
  .icons {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    .interest {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: fit-content;
      row-gap: 4px;
      .interest-icon {
        color: theme.$primary-white;
        font-size: 48px;
      }
      .interest-title {
        font-size: 12px;
      }
    }
  }
}
