@use '../../../styles/theme';

#reader-section-nav-dots {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 10px;
  left: 10px;
  height: 100%;
  width: 100%;
  .nav-dot {
    width: 10px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    background-color: theme.$project-menu-gray;
    &:hover {
      cursor: pointer;
    }
    &.selected {
      background-color: theme.$accent;
    }
  }
}