#page.projects-desktop-version-page {
  display: flex !important;
}

#page.projects-mobile-version-page {
  display: none !important;
}

@media (max-aspect-ratio: 1.4/1) {
  #page.projects-desktop-version-page {
    display: none !important;
  }

  #page.projects-mobile-version-page {
    display: flex !important;
  }
}
